<div class="wrapper d-flex align-items-stretch block">
    <div id="content">
        <div class="container">
            <header class="header">
                <app-navbar></app-navbar>
                <app-banner></app-banner>
                <div class="col-xl-12 results" style="background-color: transparent;">
                    <div class="row">
                        <div class="col-lg-6 like">
                            <i class="fas fa-thumbs-up" style="float: right;">&nbsp;88%</i>
                        </div>
                        <div class="col-lg-6 dislike">
                            <i class="fas fa-thumbs-down">&nbsp;12%</i>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>