<div class="card-transparent">
    <ng-container *ngIf="reacStatus == 0; then viewVote else viewReaction"></ng-container>
    <ng-template #viewVote>
        <div class="card-header">
            <p>Dinos tu opinión sobre</p>
            <h1>Ironman?</h1>
        </div>
        <div class="card-block">
            <p>
                Iron Man posee una armadura motorizada que le da fuerza y durabilidad sobrehumanas, vuelo y una gran variedad de armas. La armadura es inventada y usada por Stark (con excepciones ocasionales a corto plazo).
            </p>
            <a href="https://es.wikipedia.org/wiki/Iron_Man" target="_blank"><i class="fab fa-wikipedia-w"></i> Más información</a>
            <h5 style="margin-top: 20px;">¿Cuál es tu favorito?</h5>
        </div>
        <div class="card-footer col-xl-12">
            <div class="row">
                <div class="col-lg-6 like" (click)="voteIronMan(1)">
                    <div class="text-center" style="margin: 9%;">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
                <div class="col-lg-6 dislike" (click)="voteIronMan(2)">
                    <div class="text-center" style="margin: 9%;">
                        <i class="fas fa-thumbs-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #viewReaction>
        <div class="card-header">
            <h2>Marvel - Ironman</h2>
            <div class="col-xl-12" style="margin-top: 7%;">
                <div class="row">
                    <div class="col-lg-3" style="background-color: #0BD1B9; height: 90px;">
                        <i class="fas fa-thumbs-up" style="font-size: 50px; margin: 18%;"></i>
                    </div>
                    <div class="col-lg-9">
                    <h3>
                        Tu voto <br>
                        ha sido Registrado!
                    </h3>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="reacStatus == 1; else dislike"></ng-container>
            <ng-template #dislike></ng-template>
            
            <div>

            </div>
        </div>
        <div class="card-block">
            <p>
                Gracias! Tú like ha sido registrado exitosamente para el super heroe Ironman
            </p>
            
        </div>
    </ng-template>
</div>
